@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  text-align: center;
}

.input-box {
  color: black;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculate-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.error {
  color: red;
}

.result {
  color: #4caf50;
}

